.sidebar {
    padding: 0px 2em;
}
mat-card {
    margin:1em 0px;
}
.avatar {
    border-radius: 50%;
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 1em;
}
figure {
    text-align: center;
}

a {
    text-decoration: underline;
}